# ── Dépendances runtime ───────────────────────────────────────────────────────

# Téléchargement & conversion audio
yt-dlp==2026.2.4

# Lecture fichier Excel
openpyxl==3.1.5

# API Deezer
requests==2.32.5

# API YouTube (Google)
google-api-python-client==2.190.0
google-auth==2.48.0
google-auth-oauthlib==1.2.4
google-auth-httplib2==0.3.0

# ── Dépendances build (.exe) ──────────────────────────────────────────────────

pyinstaller==6.18.0
